<div class="picture" style="float:right;width:250px;">

</div>

<%= form_for(@user, :html => {'data-remote' => "true"}) do |f| %>
  <%= hidden_field_tag :plan_id, @plan.id %>

  <div style="float:right;">
    <div class="user_drawing" style="position:relative; transform: scale(0.75,0.75);margin: -70px -30px;">
      <%= image_tag("people/#{@user.family_role}.png", :style => "width: 250px;") %>
      <div class="accessories"></div>
    </div>
  </div>

  <div class="line">
    <label>Name:</label>
    <%= f.text_field :name, :size => 20 %>
  </div>

  <% if @user.is_pet? %>
    <div class="line">
      <label>Species:</label>
      <%= f.select "species", options_for_select(User::PETS.collect { |a| [a,a.downcase]}, @user.species) %>
    </div>
    <div class="line">
      <label>Age:</label>
      <%= f.select "born", options_for_select(User.ages_for_select(0..25), @user.born) %>
    </div>
    <%= f.hidden_field :gender %>
  <% elsif @user.is_adult? %>
    <div class="line">
      <label>Age:</label>
      <%= f.select "born", options_for_select(User.ages_for_select(18..75), @user.born) %>
    </div>

    <div class="line">
      <label>Profession:</label>
      <%= f.select :profession_id, options_for_select(Profession.all.collect { |p| [p.name, p.id] }, @user.profession_id) %>
    </div>

    <% salary = @plan.manipulator_for_user_or_create('Salary', @user) %>
    <%= hidden_field_tag "salary_manipulator_id", salary.id %>
    <%= render :partial => '/manipulators/params_form', :locals => {:template => ManipulatorTemplate.find_by_name("Salary"), :manipulator => salary} %>
        
  <% elsif @user.born? %>
    Age: <%= f.select "born", options_for_select(User.ages_for_select(0..18), @user.born) %>
    Gender: <%= f.select "gender", options_for_select(User::GENDERS, @user.gender) %>
  <% else %>
    <%= f.hidden_field "gender" %>
    Will be born: <%= f.select "born", options_for_select(User.ages_for_select(-20..-1), @user.born) %>
  <% end %>

  <div style="float:right">
    <% if @user != @current_user && !@user.new_record? %>
      <button class="remove">Remove</button>
    <% end %>
  </div>
<% end %>
