<div id="main_content">
  <div class="well">
    <%= image_tag("logo.png", :style => "height: 100px;") %>

    <h2>Just a few things to get started...</h2>
    <%= form_for(:user, :url => "/users/signup") do |f| %>
      <div class="form-group">
        <label for="name">Email</label>
        <%= f.text_field :email, :size => 20, :class => "form-control" %>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <%= f.text_field :name, :size => 20, :class => "form-control" %>
      </div>

      <div class="form-group">
        <label for="name">Password</label>
        <%= password_field_tag :password, '', :size => 20, :class => "form-control" %>
      </div>

      <div class="form-group">
        <label for="name">Gender</label>
        <%= f.select :gender, options_for_select([['Female', 'F'],['Male','M']]), {}, {:class => "form-control"} %>
      </div>

      <button type="submit" class="btn btn-success">Sign up</button>
    <% end %>
  </div>
</div>