<%= form_for(@manipulator, :html => {}) do |f| %>
  <%= f.hidden_field :plan_id %>
  <%= f.hidden_field :manipulator_template_id %>

  <div>Name: <%= f.text_field :name, :size => 20 %></div>  
  
  <%= render :partial => 'params_form', :locals => {:template => @template} %>

  <%= f.submit "Save" %>
<% end %>