<%= form_for(@manipulator, :html => {}) do |f| %>
  <%= f.hidden_field :plan_id %>
  <%= f.hidden_field :manipulator_template_id %>

  <div>Name: <%= f.text_field :name, :size => 20 %></div>  
  
  <h4>Variables</h4>
  <% @template.params.each do |var|  %>
    <div><%= var%>:<input type="text" name="variables[<%=var%>]"></input></div> 
  <% end %>

  <%= f.submit "Save" %>
<% end %>