<%= form_for(@manipulator, :html => {}) do |f| %>
  <div style="text-align:center;"><%= f.text_field :name, :size => 20 %></div>  
  
  <% if @manipulator.is_goal? %>
    <div>When:</div>  
    <div style="margin-left:10px"><input type="radio" name="when_type" value="asap" <%= 'checked="checked"' if @manipulator.when == -1%>>As soon as possible</div>
    <div style="margin-left:10px"><input type="radio" name="when_type" value="age"  <%= 'checked="checked"' if @manipulator.when.to_i > 0%>>At age <%= f.select "when", options_for_select((30..75).to_a.collect { |a| [a,a]}) %></div>
  <% end %>
    
  <h4>Variables</h4>
  <% @template.params.each do |var|  %>
    <div><%= var%>:<input type="text" name="variables[<%=var%>]" value="<%=@manipulator.param_value(var)%>"></input></div> 
  <% end %>

  <div style="float:right">
    <%= f.submit "Update" %>
  </div>
<% end %>