<%= form_for(@bracket, :html => {}) do |f| %>
  <%= f.hidden_field :tax_rate_schedule_id %>

  <div>Range Top: <%= f.text_field :range_top, :size => 10 %></div>
  <div>Rate: <%= f.text_field :rate, :size => 10 %></div>

  <%= f.submit "Save" %>
<% end %>