<h3>
  <% if !editable %>
    <a href="#" class="expander" data-expanded="true">
      <span class="ui-icon ui-icon-triangle-1-s"></span>
    </a>
  <% end %>
  Goals
</h3>
<ul>
  <% list.each do |g|  %>
    <li class="goal item" data-id="<%=g.id%>">
      <div class="picture">
        <img src="<%= g.manipulator_template.image_url%>">        
      </div>      
      <div class="name <%= 'noresult' if editable %>"><%= g.name %></div>
      <% if !editable %>
        <div class="achieved">
          <%= image_tag('goal_maybe.png') %>
        </div>
      <% end %>
    </li>
  <% end %>
  <% unused_list.each do |gt|  %>
    <li class="goal item unused" data-id="template:<%=gt.id%>">
      <div class="picture">
        <img src="<%= gt.image_url%>">        
      </div>      
      <div class="name"><%= gt.name %></div>      

    </li>
  <% end %>
</ul>