<h3>
  Goals
</h3>
<ul class="well well-small nav nav-pills nav-stacked">
  <% list.each do |g|  %>
    <li class="goal" data-id="<%=g.id%>" data-name="<%=g.name%>">
      <a href="#">
        <div class="nav_picture">
          <img src="<%= g.manipulator_template.image_url%>">
        </div>
        <div class="name <%= 'noresult' if editable %>"><%= g.name %></div>
        <% if !editable %>
          <div class="achieved">
            <%= image_tag('goal_maybe.png') %>
          </div>
        <% end %>
      </a>
    </li>
  <% end %>
  <% unused_list.each do |gt|  %>
    <li class="goal unused" data-id="template:<%=gt.id%>">
      <a href="#">
        <div class="nav_picture">
          <img src="<%= gt.image_url%>">
        </div>
        <div class="name"><%= gt.name %></div>
      </a>
    </li>
  <% end %>
</ul>