<div class="manipulator well notitle clearfix">
  <div class="right-main">
    <div class="right-controls">
      <button class="remove btn btn-danger" <%= "disabled=\"disabled\"" if @manipulator.new_record? %>>Remove Goal</button>
    </div>

    <%= image_tag @manipulator.manipulator_template.image_url, :style => "width: 150px;" %>
  </div>
<%= form_for(@manipulator, :url => "/goals/#{@manipulator.id}", :html => {'data-remote' => "true",:role => "form", :class => "left-main"}) do |f| %>
  <%= f.hidden_field :manipulator_template_id %>
  <%= f.hidden_field :plan_id %>

  <div class="form-group">
    <label for="name">Name</label>
    <%= f.text_field :name, :size => 20, :class => "form-control" %>
    <%= description_block(@manipulator.manipulator_template.description, @manipulator.manipulator_template.description_more_link) %>
  </div>

  <% if @manipulator.is_goal? %>
    <div class="form-group form-group-when">
      <label for="when_type">When</label>
      <div class="radio">
        <label>
          <input type="radio" name="when_type" value="asap" <%= 'checked="checked"' if @manipulator.start_type == 'asap' %>>
          As soon as possible
        </label>
      </div>
      <div class="radio">
          <input type="radio" name="when_type" value="age"  <%= 'checked="checked"' if @manipulator.start_type == 'age' %>>
          When <%= select_tag 'when_person', options_for_select(@plan.plan_users.collect { |u| [u.name, u.id]}, @manipulator.start_plan_user_id), :class => "form-control" %>
          is <%= select_tag "when_age", options_for_select((1..100).to_a.collect { |a| [a,a]}, @manipulator.start_plan_user_age()), :class => "form-control" %> years old
      </div>
      <div class="radio">
          <input type="radio" name="when_type" value="year"  <%= 'checked="checked"' if @manipulator.start_type == 'year' %>>
          In year <%= select_tag "when_year", options_for_select((2014..2100).to_a.collect { |a| [a,a]}, @manipulator.start ? @manipulator.start.year : ''), :class => "form-control" %>
      </div>
    </div>
  <% end %>

  <%= render :partial => '/manipulators/params_form', :locals => {:template => @template, :manipulator => @manipulator} %>

  <button type="button" class="btn btn-primary save">Save</button>
<% end %>
</div>

