<h3>
  Expenses
</h3>
<ul class="well well-small nav nav-pills nav-stacked">
<% list.each do |m|  %>  
  <li class="manipulator" data-id="<%=m.id%>">
    <a href="#">
      <div class="nav_picture">
        <img src="<%= m.manipulator_template.image_url%>">
      </div>
      <div class="name"><%= m.name %></div>
    </a>
  </li>
<% end %>
<% unused_list.each do |t| %>  
  <li class="manipulator unused" data-id="template:<%=t.id%>">
    <a href="#">
      <div class="nav_picture">
        <img src="<%= t.image_url%>">
      </div>
      <div class="name"><%= t.name %></div>
    </a>
  </li>          
<% end %>
</ul>        
