<div id="account">
  <%= image_tag("people/faces/#{@current_user.role}.png") %>
  <%= @current_user.name %>
  <%= link_to "Logout", "/users/logout" %>
</div>

<div id="logo"><%= image_tag("logo.png") %></div>

<div id="navigation">
  <ul class="nav nav-tabs">
    <li ng-class="{active: controller=='GoalsController'}">
      <%= link_to 'Goals', '#/goals', :class => "nav2" %>
    </li>

    <li ng-class="{active: controller=='FamilyController' || controller=='AccountsController' || controller=='ExpensesController'}">
      <%= link_to 'Setup', '#/setup', :class => "nav2" %>
    </li>

    <li ng-class="{active: controller=='ResultsGoalsController' || controller=='ResultsAccountsController' || controller=='ResultsYearlyDetailsController', disabled: plan.noSimulation}">
      <button class="nav2" ng-disabled="plan.noSimulation" ng-click="viewResults()" class="nav2">Results</button>
    </li>

    <li>
      <a ng-click="false" class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer">
        Simulate<span ng-show="plan.simulateOutOfDate">*</span> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li class="simulate" role="presentation" data-section="results">
          <a ng-click="simulate()" role="menuitem" tabindex="-1" href="#">Run Simulation</a>
        </li>
        <li class="scenario" role="presentation" data-section="results">
          <a ng-click="scenarios()" role="menuitem" tabindex="-1" href="#">Scenarios</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<ul id="subnav" class="setup nav nav-pills" ng-show="controller=='FamilyController' || controller=='AccountsController' || controller=='ExpensesController'">
  <li ng-class="{active:controller=='FamilyController'}">
    <a href="#/family">Family</a>
  </li>
  <li ng-class="{active:controller=='AccountsController'}">
    <%= link_to 'Accounts', '#/accounts', :"data-content" => 'accounts' %>
  </li>
  <li ng-class="{active:controller=='ExpensesController'}">
    <%= link_to 'Expenses', '#/expenses', :"data-content" => 'expenses' %>
  </li>
</ul>

<ul id="subnav" class="results nav nav-pills" ng-show="controller=='ResultsGoalsController' || controller=='ResultsAccountsController' || controller=='ResultsYearlyDetailsController'">
  <li ng-class="{active:controller=='ResultsGoalsController'}">
    <%= link_to 'Summary', '#/results/goals', :"data-content" => 'goals' %>
  </li>
  <li ng-class="{active:controller=='ResultsAccountsController'}">
    <%= link_to 'Accounts', '#/results/accounts', :"data-content" => 'graph' %>
  </li>
  <li ng-class="{active:controller=='ResultsYearlyDetailsController'}">
    <%= link_to 'By Year', '#/results/yearly_details', :"data-content" => 'byyear' %>
  </li>
</ul>