<div class="section results" data-name='results' style="display:block;">
  <ul id="subnav" class="nav nav-pills">
    <li>
      <%= link_to 'Summary', '#', :"data-content" => 'goals' %>
    </li>
    <li>
      <%= link_to 'Accounts', '#', :"data-content" => 'graph' %>
    </li>
    <li>
      <%= link_to 'By Year', '#', :"data-content" => 'byyear' %>
    </li>
  </ul>
  <%= render :layout => 'content_layout_list', :locals => {:name => 'goals', :skip_unused => true, :editable => false} do %>
  <% end %>
  
  <%= render :layout => 'content_layout', :locals => {:name => 'graph'} do %>
    <div class="well" style="height: 500px;">
      <div id="chart"></div>
      <div id="chart_controls">
        <div id="xtype" data-value="year">
          <a href="#" data-xtype="year">year</a>/<a href="#" data-xtype="age">age</a>
        </div>
      </div>
    </div>
  <% end %>
    
  <%= render :layout => 'content_layout', :locals => {:name => 'byyear'} do %>
    <div class="well">
      <div>
        <h2 style="text-align: center"><a href="#" class="year_prev">&lt;&lt;</a>Year <span id="cur_year">2014</span><a href="#" class="year_next">&gt;&gt;</a></h2>
      </div>
      <div id="year_slider_wrapper">

      </div>
      <div id="byyear_data"></div>
    </div>
  <% end %>
</div>