<div class="modal" id="scenarios_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Choose a Scenario</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <% Plan::SCENARIOS.each_with_index do |s, index| %>
            <tr data-scenario="<%= s.to_json%>">
              <td>
                <span style="font-size:200%;">#<%= index+1 %></span>
              </td>
              <td>
                <h4><%= s[:name] %></h4>
                <span class="help-block"><%= s[:description]%></span>
              </td>
              <td style="vertical-align: middle;">
                <%= image_tag(s[:image_url], :style => "width: 120px;") %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary disabled">Run Scenario</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>