<div class="section setup" data-name='setup' style="display:block;">
  <ul id="subnav" class="nav nav-pills">
    <li>
      <%= link_to 'Family', '#', :"data-content" => 'plan_users' %>
    </li>
    <li>
      <%= link_to 'Accounts', '#', :"data-content" => 'accounts' %>
    </li>
    <li>
      <%= link_to 'Expenses', '#', :"data-content" => 'expenses' %>
    </li>
  </ul>
  <%= render :layout => 'content_layout_list', :locals => {:name => 'plan_users', :active => 'all'} do %>
    <%= render :partial => '/plan_users/index' %>
  <% end %>
  <%= render :layout => 'content_layout_list', :locals => {:name => 'accounts'} do %>
  <% end %>
  <%= render :layout => 'content_layout_list', :locals => {:name => 'expenses'} do %>
  <% end %>
</div>