<div id="main_content">
  <div id="global_status"></div>
  <div id="header" class="page-header">
    <%= render :partial => 'header' %>
  </div>
  <div id="main_column">
    <div ng-view></div>
  </div>

</div>
<%= render :partial => 'simulate_dialog' %>
<%= render :partial => 'scenarios_dialog' %>

<%= javascript_tag do %>
  $(function() {
  plan = new Plan(<%= @plan.id%>,'<%=@plan.name%>');
  plan.reloadData()

  TaxSchedules.load()
  });
<% end %>