<div class="clearit">
  <div id="chart"></div>
  <div id="chart_controls">
    <div id="xtype" data-value="year">
      <a href="#" data-xtype="year">year</a>/<a href="#" data-xtype="age">age</a>
    </div>
  </div>
</div>

<div id="tabs">
  <ul>
    <li><a href="#situation">Situation</a></li>
    <li><a href="#goals">Goals</a></li>
    <li><a href="#details">Details</a></li>
  </ul>

  <div id="situation">
    <div class="clearit sections">
      <div class="section">
        <div class="people list">      
          <%= render :partial => '/plan_users/list', :object => @plan.plan_users %>      
        </div>
        
        <div class="accounts list">      
          <%= render :partial => '/accounts/list', :object => @plan.accounts %>      
        </div>
      
        <div class="factors list">      
          <h3>Expenses</h3>
          <ul>        
          <% @plan.factors.each do |m|  %>
            <% next if m.manipulator_template.name == 'Salary' %>
            <li class="manipulator item" data-id="<%=m.id%>">          
              <div class="picture">
                <img src="<%= m.manipulator_template.image_url%>">        
              </div>      
              <div class="name"><%= m.name %></div>                              
            </li>
          <% end %>
          <% @plan.unused_factors.each do |t| %>
            <li class="manipulator item disabled" data-id="<%=t.id%>">
              <div class="picture">
                <img src="<%= t.image_url%>">        
              </div>      
              <div class="name"><%= t.name %></div>
            </li>          
          <% end %>
          </ul>        
        </div>
      </div>
      <div class="section" id="manipulator_options">
      </div>
    </div>
  </div>  

  <div id="goals">
    <div class="clearit sections">
      <div class="section list">
        <h3>Goals</h3>
        <ul>
        <% @plan.goals.each do |g|  %>
          <li class="goal item" data-id="<%=g.id%>">
            <div class="picture">
              <img src="<%= g.manipulator_template.image_url%>">        
            </div>      
            <div class="name"><%= g.name %></div>      
            <div class="achieved">        
            </div>
          </li>
        <% end %>
        <% @plan.unused_goals.each do |gt|  %>
          <li class="goal item unused" data-template-id="<%=gt.id%>">
            <div class="picture">
              <img src="<%= gt.image_url%>">        
            </div>      
            <div class="name"><%= gt.name %></div>      
            
          </li>
        <% end %>
        
        </ul>
      </div>
      <div id="goal_options" class="section">
        <h3>Options</h3>
        <div>Select a goal</div>  
      </div>
    </div>
  </div>
  
  <div id="details">
    Click on a year to see details
  </div>
</div>
  
<%= javascript_tag do %>
  $(function() {
    $("#tabs").tabs();
  
    plan = new Plan(<%= @plan.id%>,'<%=@plan.name%>', User.fromJSON(<%= raw @current_user.safe_json.to_json%>) );
    <% @plan.priority_sorted_manipulators.each do |m| %>
      var m = Manipulator.fromJSON(<%= raw m.safe_json.to_json %>);      
      plan.add(m);
    <% end %>
    <% @plan.accounts.each do |a| %>
      var acct = Account.fromJSON(<%= raw a.safe_json.to_json %>);
      plan.addAccount(acct);
    <% end %>
    plan.display();
    
    new NiceList($('#situation .factors.list ul'), {
      click: function(itemID) {
        $( "#manipulator_options" ).load('/manipulators/'+itemID);
      }
    });
    
    new PeopleList($('#situation .people.list'), plan);    
    new AccountList($('#situation .accounts.list'), plan);    
    
    new NiceList($('#goals .list ul'), {
      click: function(itemID) {
        var view = $('#goal_options > div');
        view.load('/manipulators/'+itemID, function() {
          var m = plan.findManipulatorByID(itemID);
          if (m.achievedYear) {
            view.find('.goal_status').html('<span class="ui-icon ui-icon-info"></span> Will achieve in '+m.achievedYear);
          } else if (m.failMessage) {
            view.find('.goal_status').html('<span class="ui-icon ui-icon-alert"></span> '+m.failMessage);          
          }
        });
      }
    });                
    
    $('.manipulator .remove').click(function() {    
      var div = $(this).closest('.manipulator');
      $.ajax({
        url: '/manipulators/'+div.attr('data-id'),
        type: 'POST',
        data: {'_method' : 'delete'},
        success: function(data) {
          div.remove();
        }          
      });
    });
    
    $('.add_manipulator').click(function() {    
      var d = $( "#manipulator_dialog" ).dialog({
        height: 250,
        modal: true        
      });
      $.ajax({
        url: '/manipulators/new',
        type: 'GET',
        dataType: 'html',
        data: {
          plan_id: <%= @plan.id %>,
          manipulator_template_id: $(this).attr('data-template-id')
        },
        success: function(data) {
          d.html(data);
        }          
      });      
      return false;
    });
  });
<% end %>