<div id="main_content">
  <div id="global_status"></div>
  <div ng-controller="NavController">
    <div id="header" class="page-header">
      <%= render :partial => 'header' %>
    </div>
    <%= render :partial => "todos" %>
  </div>
  <div id="main_column">
    <div ng-view></div>
  </div>


</div>
<%= render :partial => 'simulate_dialog' %>
<%= render :partial => 'scenarios_dialog' %>

<%= javascript_tag do %>
  window.plan_id = <%= @plan.id %>;
  window.plan_name = '<%= @plan.name %>';

  $(function() {


  TaxSchedules.load()
  });
<% end %>