<div id="main_content">
  <div id="global_status"></div>
  <div id="header2" class="page-header">
    <%= render :partial => 'header' %>
  </div>  
  <div id="main_column">
    <%= render :partial => 'goals_tab' %>
    <%= render :partial => 'setup_tab' %>
    <%= render :partial => 'results_tab' %>    
  </div>
</div>
<%= render :partial => 'simulate_dialog' %>

<%= javascript_tag do %>
  $(function() {
    plan = new Plan(<%= @plan.id%>,'<%=@plan.name%>');
    plan.reloadData()

    //setup lists
    window.navigation = new Navigation('setup','plan_users');
    
    new ExpensesList($('.expenses.list'), plan);
    window.peopleList = new PeopleList($('.plan_users.list'), plan);
    new AccountList($('.accounts.list'), plan);    
    window.goalList = new GoalListEditable($('.section[data-name="goals"] .goals.list'), plan);        
    
  });
<% end %>