<%= form_for(@template, :html => {}) do |f| %>
  <%= errors_for(@template, "Opps, unable to save template").html_safe %>

<div>Name: <%= f.text_field :name, :size => 20 %></div>

<div>Per-person: <%= f.check_box :per_person %></div>

<div>Kind: <%= f.text_field :kind, :size => 10 %></div>

<div>Image URL: <%= f.text_field :image_url, :size => 30 %></div>

<div>Check formula: <%= f.text_area :can_formula, :size => "60x10" %></div>

<div>Do formula: <%= f.text_area :do_formula, :size => "60x10" %></div>

<div>Exec one: <%= f.text_area :formula, :size => "60x10" %></div>

  <%= f.submit "Save" %>
<% end %>

<%= javascript_tag do %>
  $(function() {
    CodeMirror.fromTextArea($('#manipulator_template_formula')[0]);
    CodeMirror.fromTextArea($('#manipulator_template_do_formula')[0]);
    CodeMirror.fromTextArea($('#manipulator_template_can_formula')[0]);
  });
<% end %>