<%= form_for(@template, :html => {}) do |f| %>
  <%= errors_for(@template, "Opps, unable to save template").html_safe %>

<div>Name: <%= f.text_field :name, :size => 20 %></div>
  
<div>Formula: <%= f.text_area :formula, :size => "60x10" %></div>

  <%= f.submit "Save" %>
<% end %>

<%= javascript_tag do %>
  $(function() {
    var myCodeMirror = CodeMirror.fromTextArea($('#manipulator_template_formula')[0]);
  });
<% end %>