<h3>
  Family
</h3>
<ul>        
  <% list.each do |pu|  %>
    <li class="plan_user item" data-id="<%=pu.id%>">          
      <div class="picture">
        <%= image_tag("people/faces/#{pu.family_role}.png") %>
      </div>      
      <div class="name"><%= pu.user.name %></div>                              
    </li>
  <% end %>

  <% if list.adults.length < 2 %>
    <li class="plan_user item unused" data-id="spouse">          
      <div class="picture">
        FACE              
      </div>      
      <div class="name">Add Spouse</div>                              
    </li>
  <% end %>
  <li class="plan_user item unused" data-id="child">          
    <div class="picture">
      <%= image_tag("people/faces/girl.png") %>
    </div>      
    <div class="name">Add Child</div>                              
  </li>
  <li class="plan_user item unused" data-id="future_child">          
    <div class="picture">
      <%= image_tag("people/faces/baby.png") %>
    </div>      
    <div class="name">Add Future Child</div>                              
  </li>
<ul>