<h3>
  Family
</h3>
<ul class="well well-small nav nav-pills nav-stacked">
  <% list.each do |pu|  %>
    <li class="plan_user" data-id="<%=pu.id%>">
      <a href="#">
        <div class="nav_picture">
          <%= image_tag("people/faces/#{pu.family_role}.png") %>
        </div>
        <div class="name"><%= pu.name %></div>
      </a>
    </li>
  <% end %>

  <% if list.adults.length < 2 %>
    <li class="plan_user unused" data-id="spouse">
      <a href="#">
        <div class="nav_picture">
          FACE
        </div>
        <div class="name">Add Spouse</div>
      </a>
    </li>
  <% end %>
  <li class="plan_user unused" data-id="child">
    <a href="#">
      <div class="nav_picture">
        <%= image_tag("people/faces/girl.png") %>
      </div>
      <div class="name">Add Child</div>
    </a>
  </li>
  <li class="plan_user unused" data-id="future_child">
    <a href="#">
      <div class="nav_picture">
        <%= image_tag("people/faces/baby.png") %>
      </div>
      <div class="name">Add Future Child</div>
    </a>
  </li>
  <ul>