<% if !@account.new_record? %>
  <h3><%= @account.name %></h3>
<% end %>

<div class="well clearfix <%= 'notitle' if @account.new_record? %>">
<div class="left-main">
<%= form_for(@account, :html => {'data-remote' => "true"}) do |f| %>
  <%= f.hidden_field :plan_id %>



  <% if @account.new_record? %>
    <div class="form-group">
      <label for="name">Type</label>
      <%= f.select "name", options_for_select(Account::KINDS.collect { |a| a[:name] }, @account.name), {}, {:class => "form-control"} %>
    </div>
  <% else %>
    <%= description_block(@account.description, @account.description_more_link) %>
  <% end %>

  <div class="form-group">
    <label for="balance">Balance</label>
    <%= f.text_field "balance", :class => "money form-control" %>
  </div>


    
  <% if @account.can_invest? %>
    <div class="form-group investment">
      <label for="investment_type">Investment Type</label>
      <%= f.select "investment_type", options_for_select(Account::INVESTMENT_TYPES, @account.investment_type), {}, {:class => "form-control"} %>
    </div>
  <% end %>

  <% if @account.is_debt? %>
    <div class="line loan_line debt">
      <label>Interest Rate</label>
      <%= f.text_field 'interest_rate', :class => 'percentage' %>
    </div>
    <div class="line loan_line term">
      <label>Term (years left)</label>
      <%= f.text_field 'term' %>
    </div>
  <% end %>

  <button type="button" class="btn btn-primary save">Save</button>

<% end %>
</div>

<div class="right-main">
  <div class="right-controls">
    <% if @account.can_remove? %>
      <button class="remove btn btn-danger">Remove Account</button>
    <% end %>
  </div>
</div>
</div>
<%= javascript_tag do  %>
  $(function() {
    ACCOUNT_KINDS = <%= raw Account::KINDS.to_json %>;
    <% if @account.new_record? %>
      $('.line.investment').hide();
      $('.line.debt').hide();
    <% end %>
          
    $('#account_name').change(function() {
      for (var i = 0; i < ACCOUNT_KINDS.length; i++) {
        var ak = ACCOUNT_KINDS[i];
        if ($(this).val() == ak.name) {
          $('.line.investment').hide();
          $('.line.debt').hide();
          if (ak.type == 'debt') {
            $('.line.debt').show();
          } else if (ak.type == 'invest') {
            $('.line.investment').show();
          }
        }
      }
    });
  });
<% end %>
